[Unit]
Description=Candy delivery application
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=PATH_TO_DIRECTORY
ExecStart=/usr/local/bin/pipenv run python PATH_TO_DIRECTORY/application/api

[Install]
WantedBy=multi-user.target